.logo {
  font-family: "Mulish", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 50px;
}

.nav__list {
  margin-right: 50px;
}

a {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  color: #111111;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

a:hover {
  color: #4a4ff2;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.picture_grid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  Width: 1160;
  Height: 1960px;
  justify-content: center;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 60px;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
}

.top_column h3 {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
  letter-spacing: -0.423077px;
  color: #4A4FF2;
}

.top_column {
  width: 1100px;
}

.top_column h2 {
  width: 700px;
}

.quote {
  Width: 30px;
  Height: 2px;
  background-color: #111111;
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
  width: 200px;
}

.main_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.main_txt p {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.service {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main_txt h2 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #111111;
  width: 50%;
}

.awards_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (170px)[6];
  grid-template-columns: repeat(6, 170px);
  -ms-grid-rows: (150px)[2];
  grid-template-rows: repeat(2, 150px);
  border-top: 2px solid #d8d8d8;
  padding-top: 48px;
  border-bottom: 2px solid #d8d8d8;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 48px;
}

.awards_grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.awards_grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.awards_grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.awards_grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.awards_grid > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.awards_grid > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.awards_grid > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.awards_grid > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.awards_grid > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.awards_grid > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.awards_grid > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.awards_grid > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.awards_grid h3 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #111111;
}

.awards_grid h4 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
}

.awards_grid h5 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.awards_grid p {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.text {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 1;
  grid-row: 1/1;
}

.text1 {
  -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 1;
  grid-row: 1/1;
}

.text2 {
  -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 2;
  grid-row: 2/2;
}

.text3 {
  -ms-grid-column: 4;
  grid-column: 4/4;
  -ms-grid-row: 1;
  grid-row: 1/1;
}

.text4 {
  -ms-grid-column: 4;
  grid-column: 4/4;
  -ms-grid-row: 2;
  grid-row: 2/2;
}

.text5 {
  -ms-grid-column: 6;
  grid-column: 6/6;
  -ms-grid-row: 1;
  grid-row: 1/1;
}

.text6 {
  -ms-grid-column: 6;
  grid-column: 6/6;
  -ms-grid-row: 2;
  grid-row: 2/2;
}

.designs_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (170px)[6];
  grid-template-columns: repeat(6, 170px);
  -ms-grid-rows: (150px)[2];
  grid-template-rows: repeat(2, 150px);
  border-top: 2px solid #d8d8d8;
  padding-top: 48px;
  border-bottom: 2px solid #d8d8d8;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 48px;
}

.designs_grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.designs_grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.designs_grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.designs_grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.designs_grid > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.designs_grid > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.designs_grid > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.designs_grid > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.designs_grid > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.designs_grid > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.designs_grid > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.designs_grid > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.designs_grid h3 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #111111;
}

.designs_grid h4 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
}

.designs_grid h5 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.designs_grid p {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.logo {
  font-family: "Mulish", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 50px;
}

.nav__list {
  margin-right: 50px;
}

a {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  color: #111111;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

a:hover {
  color: #4a4ff2;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */